body {
    font-family: 'Vacuum', sans-serif;
    margin: 0px;
    padding-top: 0px;
    background-color: rgb(223, 188, 123);
}

header {
    background-color: #7e5508;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

h1 {
    font-family: 'Nilkuza Trial', sans-serif;
    color: rgb(94, 52, 4);
    font-size: 2.5em;
    padding-left: 10px;
    padding-top: 60px;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(241, 222, 184);
    color: rgb(139, 101, 52);
}

.product-image {
    display: block;
    margin: 0 auto 10px;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.product-button,
.product-buttonbel {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.product-button {
    background-color: #694b08;
    color: white;
}

.product-button:hover {
    background-color: #97856d;
}

.product-buttonbel {
    background-color: #d8b15d;
    color: rgb(10, 10, 10);
}

.product-buttonbel:hover {
    background-color: #97856d;
}

nav {
    background-color: #7e5508;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
}

nav a:hover {
    background-color: rgb(223, 188, 123);
    color: #333;
    border-radius: 20px;
}

nav .category-dropdown {
    position: relative;
    display: inline-block;
}

nav .category-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 20px;
}

nav .category-dropdown:hover .category-dropdown-content {
    display: block;
    background-color: rgb(223, 188, 123);
}

nav .category-dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

nav .category-dropdown-content a:hover {
    background-color: #c0a87b;
    color: #64522c;
}

nav .search-box {
    margin-left: auto;
    margin-right: 10px;
    position: relative;
}

nav .search-box input {
    padding: 8px;
    border: none;
    border-radius: 50px;
    margin-right: 5px;
}

nav .search-box i {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    color: rgb(126, 118, 118);
    cursor: pointer;
}

.cart-icon {
    float: right;
    color: #fffbfb;
    font-size: 18px;
    line-height: 40px;
    margin-right: 60px;
    margin-left: 10px;
    border-radius: 20px;
}

.cart-icon:hover {
    background-color: rgb(223, 188, 123);
    color: #333;
}

.logo {
    float: left;
    padding: 0px;
}

.logo img {
    height: 65px;
    border-radius: 100px;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

footer {
    background-color: #3b270a;
    color: white;
    text-align: center;
    padding: 30px;
}

.footer-kata {
    margin-top: 0px;
    padding: 30px 10px;
    color: rgb(143, 100, 50);
    font-size: 15px;
}

@media (max-width: 768px) {
    product-card {
        flex-basis: calc(50% - 10px); /* Menggunakan calc() untuk menyesuaikan margin antara kartu */
        margin-bottom: 20px; 
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }

    nav.responsive {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    nav a,
    nav .category-dropdown {
        display: block;
        width: 100%;
        text-align: left;
    }

    nav .category-dropdown-content {
        position: static;
    }

    nav .search-box,
    .cart-icon {
        display: none;
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 100%;
    }
}
